

body{
color: #333333;
font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
margin-left: auto;
margin-right: auto;
width: 940px;
}
h1{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2{
    border-bottom: 2px groove #333333;
    margin-top: 30px;
}
figure{
    background-color: #b4a3a3;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
   
}

 figcaption{
        font-style: italic;
        margin-top: 10px;

    }
p{
    padding: 0 45px;
    text-indent: 15px;

}

#salvador{
     margin-left: auto;
      margin-right: auto;
      width: 550px;
    }

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}


h1 + p{
    text-indent: 0;
}

p::first-letter{
    text-transform: capitalize;

}

p::first-line{
    font-variant: small-caps;

}


.sacola {
    background: url(../img/sacola.png) no-repeat top right;

    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    left: 80%;
    position: relative;
    top: -85px;
}

.menu-opcoes{
    position: absolute;
    right: 0;
    bottom: 0;
}

header{
position: relative;
}

.menu-opcoes li{
    display: inline-block;
    margin-left: 15px;
}


.menu-opcoes a {
    color: #003366;

}

.menu-opcoes a:hover{
    color: #007dc6;

}

.menu-opcoes a:active{
    color:red;
}